#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define WIFI_SSID ""
#define WIFI_PW ""

#define MQTT_SERVER ""
#define MQTT_USER ""
#define MQTT_PW ""

#define OUTGOING_TOPIC ""
#define INCOMING_TOPIC ""

#endif